<template name="color">
  <form action="" class="u-text-center">
    <input type="color" value="#FD0000">
    <input class="hidden-text" type="text">
    <input type="file">
  </form>

  <div class="preview-pane u-text-center">
    <img id="js-img" class="js-img" width="300" src="{{image.url}}" alt="">
  </div>


  {{#if showOutput}}
  <section class="output-colors">
    <p>This color is considered <strong>{{lightOrDark}}</strong></p>

    {{#if palette}}
      <div class="tile-set">
        <p><strong>Palette:</strong></p>
        {{#each palette}}
          {{> tile}}
        {{/each}}
      </div>
    {{/if}}

    <div class="tile-set">
    <p><strong>Analogous:</strong></p>
      {{#each analogous}}
        {{> tile}}
      {{/each}}
    </div>

    <div class="tile-set">
      <p><strong>Monochromatic:</strong></p>
      {{#each monochromatic}}
        {{> tile}}
      {{/each}}
    </div>

    <div class="tile-set">
      <p><strong>Splitcomplement:</strong></p>
      {{#each splitComp}}
        {{> tile}}
      {{/each}}
    </div>

    <div class="tile-set">
      <p><strong>Triad:</strong></p>
      {{#each triad}}
        {{> tile}}
      {{/each}}
    </div>

    <div class="tile-set">
      <p><strong>Tetrad:</strong></p>
      {{#each tetrad}}
        {{> tile}}
      {{/each}}
    </div>

    <div class="tile-set">
      <p><strong>Complementary:</strong></p>
      {{> tile complementary}}
    </div>
  </section>
  {{/if}}


</template>
