<template name="color">
  <form action="">
    <input type="color" value="#FD0000">
    <input class="hidden-text" type="text">
    <input type="file">
  </form>

  <img id="js-img" class="js-img" width="300" src="{{image.url}}" alt="">


  <section class="output-colors">
    <p>Original Color: <span class="js-orig-color"></span></p>
    <p>Is Light: <span class="js-is-light"></span></p>
    <p>Is Dark: <span class="js-is-dark"></span></p>
    <div class="tile-set">Analogous:
      <div class="js-analogous">
      </div>
    </div>

    <div class="tile-set">Monochromatic:
      <div class="js-mono">
      </div>
    </div>

    <div class="tile-set">Splitcomplement:
      <div class="js-splitcomp">
      </div>
    </div>

    <div class="tile-set">Triad:
      <div class="js-triad">
      </div>
    </div>

    <div class="tile-set">Tetrad:
      <div class="js-tetrad">
      </div>
    </div>

    <div class="tile-set">Complementary:
      <div>
        <div class="tile js-complementary-tile">
          <span class="js-complementary tile-hex"></span>
        </div>
      </div>
    </div>
  </section>


</template>
